.home,
.about,
.contact {
  position: relative;
  .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    h3 {
      color: #fff;
      font-size: 50px;
      text-transform: capitalize;
    }
  }
}

.contact_form {
  padding-top: 30px;
  max-width: 80%;
  margin: 0 auto;
}

.skills_title {
  font-family: $bold;
  margin-bottom: 10px;
}
